body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ececec;
}

.container {
    width: 80%;
    margin: 0 auto;

}

header {
    background-color:#242943;
    color: #fff;
    padding: 20px 0;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 50px 0;
}

section h2 {
    text-align: center;
}

.project {
    margin-bottom: 20px;
    background-color: aliceblue;
    padding: 20px;
    border-radius: 20px;
}
.project-container{
    height: 96px;
}

.project h3 {
    margin-top: 0;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.listproj{
    padding: 20px;
    margin-left: 165px;
    display: grid;
    grid-template-rows: 300px 300px 300px;
    grid-template-columns: 350px 350px 350px;
    gap: 60px;
}

.project-link {
    display: inline;
    text-decoration: none;
    color:#7fffd4;
    font-weight: bold;
    font-size:12px ;
    margin-bottom: 1px;
    border:2px solid;
    padding: 5px;
    border-radius: 10px;
    border-style:dotted;
}

.project-link:hover {
    text-decoration: underline;
    color:white;
}
li{
    background-color: #D203FA;
    border-radius: 20px;
    padding: 20px;
    width: 90%;
    font-family: "Montserrat";
    letter-spacing: -0.7px;
    color: #fff;
    box-shadow: 5px 6px 18px -9px black;
}

.skills{
    display: flex;
    width: 100%;
    height: 50px;

}

.skills-frame{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: row;
    padding: 40px;
    font-family: "Montserrat";
    font-weight: bold;
}

.skill{
    width: 200px;
    height: 100px;
    background-color: #933636;
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    
}

.skill:hover{
    background: linear-gradient(274deg, rgb(57, 0, 82), #00ffbf, #5f0050);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;

}

@keyframes loop {
    0% {transform: translateX(0%);}
    100% {transform: translateX(-90%);}
    
}


li:hover{
    background: linear-gradient(180deg, #37323a,#D203FA, #ef8172);
    box-shadow:5px 6px 22px -5px black;
    padding:  21px 22px;
    transition: .2s ease-in-out;
    animation: gradient-animation 5ms ease-in linear;
}s
#id2{
    background-color: #d103fa95;
}
.hide,.hide1,.hide2,.hide3,.hide4,.hidex,.hidey{
    display: none;
}

#idy:hover+.hidey{
    display: grid;
}


#idx:hover+.hidex{
    display: grid;
}

#id0:hover+.hide{
    display: grid;
}
#id1:hover+.hide1{
    display: grid;
}
#id2:hover+.hide2{
    display: grid;
}
#id3:hover+.hide3{
    display: grid;
}
#id4:hover+.hide4{
    display: grid;
}
ul>img{
    width: 355px;
    height:300px;
    border-radius: 10px;
    height: fit-content;
    animation: ScaleUp ease-out.5s;
}

a{
    text-decoration: none;
}
a:hover{
    border-color:white;
}

#canva {
    color: aqua;
}

.gradient-background {
    background: linear-gradient(300deg, #00bfff,#D203FA, #ef8172);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
    animation: fadeInAnimation ease-in-out 2s;
    animation-fill-mode:forwards;
  }

.gradient-background-text {
    background: linear-gradient(300deg, #00bfff,#D203FA, #ef8172);
    animation: gradient-animation 10s ease-in infinite;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 50px;
    animation: fadeInAnimation ease-in-out 0.8s;
    animation-fill-mode:forwards;
}
.gradient-background-skills {
    background: linear-gradient(274deg, #02fdd5, #9e4a4a, #4c73df);
    animation: gradient-animation 1s ease-in linear;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 30px;
    animation-fill-mode:forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes ScaleUp{
    0% {
        transform: scale(0.2);
    }
    100% {
        transform: scale(1);
    }
}

  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
/* Responsive CSS */
@media only screen and (max-width: 768px) {
    .container {
        width: 80%;
    }

    header {
        padding: 10px 0;
    }
    .skills-frame{
        animation: loop 15s linear infinite;
    }

    header h1 {
        font-size: 24px;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    section {
        padding: 30px 0;
    }

    section h2 {
        font-size: 24px;
    }

    .listproj{
        margin-left: 36px;
        grid-template-columns: 300px;
        grid-template-rows: auto;
        gap: 30px;
    }
    li{
        background-color: #D203FA;
        border-radius: 20px;
        padding: 20px;
        margin-bottom: 9px;
        width: 90%
    }

    ul>img{
        width: 300px;
        height: auto;
        
    }

    
}
