.container{
    position: relative;
    height: 50vh;
    padding: 80px 0px;
}
.ab{

    height: 20vh;
    width: 100%;
    position: absolute;
    z-index: -1.5;
    font-size: 42px;
    text-align: center;
    padding-top: 45px;
    
    color: white;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.ac{
    background-color:#003e92;
    height: 140px;
    position: absolute;
    width: 100%;
    z-index: -2;
}
.ad{
    background-color: black;
    height: 140px;
    width: 640px;
    margin-left: 30%;
    z-index: -1;
    position: absolute;
    transform:rotate(-15deg);
    animation: mymove 4s ease-out ;
}
.head{
    height: 140px;
    font-size:58px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    color: black;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
span{
    color: #003e92;
}

.intro{
    font-size: 18px;
    color: #003e92;
    font-family:"Montserrat", sans-serif;
    margin-top: 30px;
    text-align: center;
    height: 100px;
    width: 580px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 69vh;
    margin-bottom: 30px;
}

.details{
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: inline-flex;
    flex-direction: column;
    padding: 30px 30px;
    margin-left: 50vh;

}
.label{
    color: #003e92;
    font-size: 42px;
    text-transform: uppercase;
    font-weight: bolder;
    padding: 10px 0;
}

h3{
    font-weight: lighter;
    margin: 10px 0;
    width: 300px;
}
#career{
    margin-left: 70vh;
}

h1{
    color: #003e92;
    font-size: 42px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 30px 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

img{
    float: left;
    width: 260px;
    height: 200px;
}
#pencopy{
    height: 180px;
}

.skill{
    display: inline-flex;
    margin: 20px 35px;
    padding: 20px 20px;
    margin-left: 230px;
}
.square{
    padding:10px;
    margin: 20px 80px;
    width: 50%;
}

h2{
    font-size: 18px;
    color: #003e92;
    font-family:"Montserrat", sans-serif;
}

p{
    font-size: 18px;
    color: #003e92;
    font-family:"Montserrat", sans-serif;
    font-weight: normal;
}
hr{
    border: #003e92 solid 1px;
    border-radius: 5px;
}

.contact>div{
    padding-bottom: 0;
    height: fit-content;
}

.contact>p{
    text-align: center;
}

button{
    color:#ffbd59;
    border-radius: 36px;
    background-color:#003e92;
    border: none;
    width: 380px;
    height: 73px;
    font-size: 25.2px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
}
.btn{
    display: block;
    margin: auto;
}

#center{
    padding: 80px;
}

.footer{
    display: flex;
    justify-content: space-evenly;
    background-color: #003e92;
    padding: 100px;
    font-family:"Montserrat", sans-serif;
    font-weight: normal;
    color: white;
}
a{
    font-family:"Montserrat", sans-serif;
    font-weight: normal;
    color: white; 
}
#end{
    display: block;
    padding: 5px 5px;
}
@media (max-width:1000px){
    .ac{
        width: 100%;
    }

    .ad{
        transform: rotate(15deg);
        margin-left:10%;
        background-color: #4757E6;
        width: 90%;
    }
    #info{
        color: white;
    }
    .intro{
        margin: 0 ;
        padding-left:10px;
        width: 100%;
    }
    .details{
        margin-left: 10vh;
        display: block;
    }
    #career{
        margin-left: -4vh;
        display: block;
    }
    .skill{
        margin-left: 0;
    }

    
}

@media (max-width:400px){
    .ad{
        transform: rotate(20deg);
        margin-left:0;
        background-color: #4757E6;
        width: 92%;

    }
    #info{
        color: black;
    }
    .head{
        padding-bottom:100px;
    }

    .details{
        margin-left: 5vh;
        display: block;
    }
    #career{
        margin-left: -4vh;
        display: block;
    }
    .skill{
        margin-left: 0;
        flex-direction: column;
    }
    #center{
        padding-left: 0;
    }
    .footer{
        gap: 10px;
    }
    img{
        margin-left: 36px;
    }
    .square{
        padding: 10px;
        margin: 20px 36px;
        width: 80%;
    }
}
@keyframes mymove {
    50% {transform: rotate(25deg);}
  }
